* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  // height: 100vh;
  overflow-x: hidden;
}
#titlebar {
  padding: 10px;
  text-align: right;
  font-size: 1.2em;
  #toggler {
    background-color: transparent;
    border: none;
  }
  .fa-cog {
    display: block;
    padding: 10px;
  }
}
#menu {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 400px;
  /* height: 0px; */
  background-color: white;
  text-align: center;
  padding: 20px 20px 5px 5px;
  border-radius: 10px;
  z-index: 3;
  display: none;
  h3 {
    margin: 10px 0;
  }
}
#images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .background {
    flex: 0 0 150px;
    img {
      width: 140px;
      cursor: pointer;
    }
  }
}

div#time {
  margin: 60pt auto 80pt auto;
  padding: 10pt;
  font-size: 80pt;
  font-weight: bold;
  font-family: "sans-serif";
  text-align: center;
  height: 100pt;
  @media screen and (max-width: 450px) {
    font-size: 75pt;
    // height: 80pt;
  }
  @media screen and (max-width: 350px) {
    font-size: 60pt;
    height: 80pt;
  }
  @media screen and (max-height: 900px) {
    margin: 20px auto;
    font-size: 55pt;
    height: 80pt;
  }
  @media screen and (max-height: 650px) {
    margin: 15px auto;
    font-size: 35pt;
    height: 60pt;
  }
}
#searchcontainer {
  margin: 100px auto;
  width: 500px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  @media screen and (max-width: 550px) {
    width: 400px;
  }
  @media screen and (max-width: 450px) {
    width: 300px;
  }
  @media screen and (max-width: 350px) {
    width: 250px;
  }
  @media screen and (max-height: 900px) {
    margin: 30px auto;
  }
  @media screen and (max-height: 650px) {
    margin: 20px auto;
  }
}
label {
  display: inline-block;
  width: 40px;
  background-color: white;
  text-align: center;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 5px;
}
#reposearch {
  display: inline-block;
  margin: 0 auto;
  width: 460px;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  @media screen and (max-width: 550px) {
    width: 360px;
  }
  @media screen and (max-width: 450px) {
    width: 260px;
  }
  @media screen and (max-width: 350px) {
    width: 210px;
  }
}
#repos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px 10px;
  justify-content: flex-start;
  .image-card {
    background-color: white;
    flex: 0 0 200px;
    border-radius: 10px;
    margin: 0 10px;
    border: 2px solid black;
    padding: 10px;
    a {
      color: black;
      text-decoration: underline;
      &:hover {
        color: blue;
        background-color: yellow;
      }
    }
    .image-card h2 {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
    }
  }
  li {
    list-style: inside;
  }
}
#lasttitle {
  margin-left: 20px;
  margin-bottom: 20px;
}
.small {
  font-size: 20pt;
}
/*#exchange {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  div {
    flex: 0 0 45%;
  }
  .right {
    text-align: right;
  }
}*/
