* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/pawel-czerwinski-1424194-unsplash.jpg);
}
div#time {
  margin: 60pt auto 40pt auto;
  padding: 10pt;
  color: white;
  font-size: 90pt;
  font-family: "sans-serif";
  text-align: center;
}
div#repos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 70px 10px;
  justify-content: flex-start;
}

.image-card {
  background-color: white;
  flex: 0 0 19%;
  border-radius: 10px;
  margin: 0 5px;
  padding: 2px;
}
div#repos li {
  list-style: inside;
}
.image-card h2 {
  margin-tio: 5px;
  margin-bottom: 5px;
  text-align: center;
}
