* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
}

#titlebar {
  padding: 10px;
  text-align: right;
  font-size: 1.2em;
}

#titlebar #toggler {
  background-color: transparent;
  border: none;
}

#titlebar .fa-cog {
  display: block;
  padding: 10px;
}

#menu {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 400px;
  /* height: 0px; */
  background-color: white;
  border: 2px solid gray;
  text-align: center;
  padding: 20px 20px 5px 5px;
  border-radius: 10px;
  z-index: 3;
  display: none;
}

#menu h3 {
  margin: 10px 0;
}

#images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#images .background {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}

#images .background img {
  width: 140px;
  cursor: pointer;
}

div#time {
  margin: 60pt auto 80pt auto;
  padding: 10pt;
  font-size: 80pt;
  font-weight: bold;
  font-family: "sans-serif";
  text-align: center;
  height: 100pt;
}

@media screen and (max-width: 450px) {
  div#time {
    font-size: 75pt;
  }
}

@media screen and (max-width: 350px) {
  div#time {
    font-size: 60pt;
    height: 80pt;
  }
}

@media screen and (max-height: 900px) {
  div#time {
    margin: 20px auto;
    font-size: 55pt;
    height: 80pt;
  }
}

@media screen and (max-height: 650px) {
  div#time {
    margin: 15px auto;
    font-size: 35pt;
    height: 60pt;
  }
}

#searchcontainer {
  margin: 100px auto;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 6px;
}

@media screen and (max-width: 550px) {
  #searchcontainer {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  #searchcontainer {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  #searchcontainer {
    width: 250px;
  }
}

@media screen and (max-height: 900px) {
  #searchcontainer {
    margin: 30px auto;
  }
}

@media screen and (max-height: 650px) {
  #searchcontainer {
    margin: 20px auto;
  }
}

label {
  display: inline-block;
  width: 40px;
  background-color: white;
  text-align: center;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 5px;
}

#reposearch {
  display: inline-block;
  margin: 0 auto;
  width: 460px;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 5px;
}

@media screen and (max-width: 550px) {
  #reposearch {
    width: 360px;
  }
}

@media screen and (max-width: 450px) {
  #reposearch {
    width: 260px;
  }
}

@media screen and (max-width: 350px) {
  #reposearch {
    width: 210px;
  }
}

#repos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 10px 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#repos .image-card {
  background-color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  border-radius: 10px;
  margin: 0 10px;
  border: 2px solid black;
  padding: 10px;
}

#repos .image-card a {
  color: black;
  text-decoration: underline;
}

#repos .image-card a:hover {
  color: blue;
  background-color: yellow;
}

#repos .image-card .image-card h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

#repos li {
  list-style: inside;
}

#lasttitle {
  margin-left: 20px;
  margin-bottom: 20px;
}

.small {
  font-size: 20pt;
}

/*#exchange {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  div {
    flex: 0 0 45%;
  }
  .right {
    text-align: right;
  }
}*/


/*# sourceMappingURL=style.css.map*/